* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

b {
  font-weight: 500;
}

i {
  font-style: normal;
}

.header, .header .sp, .header .ipt, .header .right, .main .icon-box, .main .icon-box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 1.33333rem;
  background: #06c1ae;
  border-bottom: 1px solid #21897d;
  color: #fff;
}

.header .sp {
  flex: 2;
  height: 100%;
  font-size: 14px;
}

.header .sp i {
  margin-top: 0.08rem;
  margin-left: 0.13333rem;
}

.header .ipt {
  flex: 8;
  height: 100%;
  background: #21897d;
  height: 0.8rem;
  border-radius: 0.13333rem;
}

.header .ipt input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.13333rem;
  background: #21897d;
}

.header .ipt i {
  margin: 0 0.26667rem;
}

.header ::-webkit-input-placeholder {
  color: #68dbce;
}

.header .right {
  flex: 2;
  height: 100%;
  flex-direction: column;
}

.main {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  background: #eee;
}

.main .img-box {
  height: 2.93333rem;
  margin-bottom: 0.02667rem;
}

.main .img-box img {
  width: 100%;
  height: 100%;
}

.main .swipe {
  padding-bottom: 0.53333rem;
  background: #fff;
  margin-bottom: 0.4rem;
  position: relative;
}

.main .icons {
  width: 100%;
  height: 4.26667rem;
  overflow: hidden;
  position: relative;
}

.main .icon-wrap {
  width: 200%;
  height: 4.26667rem;
  position: absolute;
}

.main .dot {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0.26667rem;
  text-align: center;
}

.main .dot span {
  display: inline-block;
  width: 0.26667rem;
  height: 0.26667rem;
  background: #eee;
  border-radius: 50%;
  margin: 0 0.26667rem;
}

.main .dot span.bg {
  background: #06c1ae;
}

.main .icon-box {
  width: 50%;
  float: left;
  height: 4.26667rem;
  background: #fff;
  font-size: 14px;
  flex-flow: wrap;
}

.main .icon-box .icon {
  flex-direction: column;
  width: 20%;
  height: 50%;
}

.main .icon-box b {
  width: 40px;
  height: 40px;
  background: url(../img/icon.png) no-repeat;
  background-size: contain;
  margin-bottom: 0.13333rem;
}

.main .icon-box1 b {
  background: url(../img/icon2.png) no-repeat;
  background-size: contain;
}

.main .data-box {
  width: 100%;
  padding-left: 0.26667rem;
  background: #fff;
}

.main .data-box h1 {
  font-size: 17px;
  line-height: 1.06667rem;
  border-bottom: 0.02667rem solid #ccc;
}

.main .data-box dl {
  display: flex;
  align-items: center;
  height: 2.66667rem;
  border-bottom: 1px solid #ccc;
}

.main .data-box dl img {
  width: 2.13333rem;
  height: 2.13333rem;
}

.main .data-box dl dd {
  padding-left: 0.26667rem;
  height: 2.13333rem;
  display: flex;
  flex-direction: column;
}

.main .data-box dl dd p {
  flex: 1;
  width: 7.06667rem;
}

.main .data-box dl dd .firstp {
  font-size: 17px;
}

.main .data-box dl dd .pp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .data-box dl dd .lastp {
  display: flex;
  justify-content: space-between;
}

.main .data-box dl dd .lastp b {
  font-size: 17px;
  color: #06c1ae;
  margin-right: 0.13333rem;
}

.main .data-box dl dd .lastp i {
  padding: 0.08rem 0.08rem;
  border: 0.02667rem solid orange;
  color: orange;
  border-radius: 0.13333rem;
}

.main .pulldown, .main .pullup {
  width: 100%;
  height: 1.06667rem;
  text-align: center;
  line-height: 1.06667rem;
  font-size: 17px;
  background: #fff;
  color: #06c1ae;
}

.main .con {
  position: relative;
}

.main .pulldown {
  position: absolute;
  top: -1.06667rem;
  left: 0;
}
